html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  background: #FAFAFA;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

main {
  margin: 0 auto;
}

.container {
  max-width: 87.5rem;
  margin: 0 auto;
}

.container-icons {
  max-width: 45rem;
  margin: 0 auto;
}

.ponto-azul {
  color: #201dbe;
}

/* BTN DOWNLOAD */
.download-cv {
  background: linear-gradient(180deg, #1a16e6 0%, #0d0aac 100%);
  border-radius: 4px;
  display: flex;
}
.download-cv:hover{
  background: #0e0b9f;
}

.download-cv a {
  color: #fafafa;
  padding: 10px 20px;
}

.strong-azul{
  color: #201dbe;
  font-weight: 700;
}