.grid-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 0rem;
}

.footer-icons{
  display: flex;
  grid-column: 2;
  gap: 30px;
  padding: 0px 20px;
  justify-content: right;
}