.header-nav {
  background: #020122;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.nav-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
}

.nav-content li a {
  color: #fafafa;
}

.nav-content li a:hover {
  border-bottom: 2px solid #201dbe;
  padding-bottom: 5px;
  transition: ease-in-out 200ms;
}

.header-intro {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(180deg, #e9e9e9 0.7%, #f5f5f5 99.34%);
  border: 1px solid #e1e1e1;
  border-radius: 0px 0px 4px 4px;
}

.header-intro-img {
  justify-content: center;
}

.header-intro-txt {
  display: grid;
  padding: 20px 40px;
  margin: 50px;
  gap: 40px;
  align-self: center;
  justify-content: center;
  justify-items: left;
}

.header-intro-txt h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #303030;
}

.header-intro-txt h2 {
  text-indent: 40px;
  font-size: 2rem;
  color: #303030;
  position: relative;
}

.header-intro-txt h2::before {
  position: absolute;
  content: "";
  top: 24px;
  left: -80px;
  width: 100px;
  border-radius: 50px;
  height: 5px;
  background: #201dbe;
}

.header-intro-txt p {
  font-size: 1rem;
  max-width: 33ch;
  color: #525252;
  line-height: 1.5rem;
}

.header-intro-txt p strong {
  color: #201dbe;
}

.header-icons {
  display: flex;
  grid-column: 2;
  gap: 20px;
  padding: 0px 20px;
  justify-content: right;
}
