.quem-sou {
  margin: 60px 0px;
  text-align: center;
  position: relative;
}

.quem-sou h2 {
  font-weight: 500;
  color: #03023b;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif !important;
}

.quem-sou::after {
  position: absolute;
  content: "";
  border-radius: 50px;
  top: 24px;
  top: 60px;
  width: 5px;
  height: 50px;
  background: #201dbe;
}

/* CONTEÚDO MAIN */

.bg-main {
  padding: 30px;
  background: linear-gradient(180deg, #080647 0%, #01002c 100%);
}

.main-grid {
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr;
}

.main-img {
  display: flex;
  align-self: center;
  justify-content: center;
}

.main-sobre {
  display: grid;
  padding: 20px 40px;
  margin: 50px;
  gap: 20px;
  align-self: center;
  justify-content: left;
}

.main-sobre h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.main-p {
  display: grid;
}

.main-p p {
  border: 1px solid transparent;
  max-width: 50ch;
  font-size: 1.2rem;
  color: #b8b8b8;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding: 1rem;
}

.main-p p:hover {
  transition: ease-in-out 200ms;
  color: #ececec;
  border: 1px solid #6b6b6b6e;
  background: rgba(192, 192, 192, 0.086);
  border-radius: 4px;
}

/* Projetos
************************************************ */

.projeto-txt {
  margin: 60px 0px;
  text-align: center;
  position: relative;
}

.projeto-txt h2 {
  font-weight: 500;
  color: #03023b;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif !important;
}

.projeto-txt::after {
  position: absolute;
  content: "";
  top: 24px;
  border-radius: 50px;
  top: 60px;
  width: 5px;
  height: 50px;
  background: #201dbe;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 60px;
  padding: 0px 20px;
  margin-bottom: 60px;
}

.proj img {
  box-sizing: border-box;
  padding: 50px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.proj img:hover {
  transition: ease-in-out 200ms;
  border: 1px solid #6b6b6b6e;
  background: rgba(192, 192, 192, 0.086);
  border-radius: 4px;
  cursor: pointer;
}

/* HABILIDADES
****************************************  */

.habilidades-txt {
  text-align: center;
}

.habilidades-txt h2 {
  color: #ececec;
  font-size: 2.5rem;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif !important;
}

.habilidades-grid {
  display: grid;
  gap: 60px;
  margin: 50px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.icon-html {
  display: flex;
  justify-content: center;
  align-items: center;
  /* place-content: center; */
}

/* FORMACAO  
***************************************************/
.bg-formacao {
  background: #f5f5f5;
}

.formacao-txt {
  text-align: center;
}

.formacao-txt h2 {
  font-weight: 500;
  letter-spacing: 0.07rem;
  color: #303030;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif !important;
  padding: 50px;
}

.grid-formacao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.formacao-box {
  display: grid;
  gap: 40px;
  padding: 0px 60px;
}

.formacao-item {
  padding: 30px 60px;
  background: linear-gradient(180deg, #e9e9e9 0.7%, #f5f5f5 99.34%);
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: grid;
  justify-content: left;
}

.formacao-item:hover {
  background: linear-gradient(180deg, #e0dfdf 0.7%, #f5f5f5 99.34%);
  border: 1px solid #a3a3a3;
}

.formacao-item h3 {
  color: #3d3d3d;
  margin-bottom: 5px;
  position: relative;
}

.formacao-item h3::after {
  position: absolute;
  border-radius: 50px;
  content: "";
  left: -67px;
  width: 5px;
  height: 50px;
  background: #201dbe;
}

.formacao-item p {
  font-size: 1.1rem;
  color: #666666;
}

.formacao-textos span {
  color: #5f6ef1;
}
